<%- include('partials/header') %>

<h2 class="text-center">New Band</h2>

<div class="container-fluid">
    <form method="post" action="/api/concert">
        <div class="form-group">
            <label for="BandName">Band Name</label>
            <input type="text" class="form-control" id="BandName" placeholder="Band Name" name="bandName">
        </div>

        <div class="form-group">
            <label for="venue">Venue</label>
            <select class="form-control" id="Country" name="country">
                <option value="0" id="venue" class="form-control">Venue Name</option>
            </select>
        </div>


        <div class="form-group">
            <label for="BandName">Date</label>
            <input type="date" class="form-control" id="BandName" placeholder="Band Name" name="date">
        </div>
    </form>
</div>

<%- include('partials/footer') %>